.text-field, .text-area, .text-area .content {
	-fx-font-family: monospace;
	-fx-background-color: black;
    -fx-border-radius: 0px;
	-fx-background-radius: 0px;
	-fx-padding: 4px 4px 3px 4px;
	-fx-font-size: 12px;
	-fx-text-fill: white;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
	-fx-background-color: transparent;
}
